 .odd-numbers {
  color: black;
    background-color: rgb(236, 128, 128);
  font-size: 20px;
  font-family: Verdana, "DejaVu Sans", sans-serif;
}
#big-blue {
  color: rgb(107, 63, 230);
  font-size: 36px;
}
#a-bit-bigga {
  font-size: 24px;
}
#thick-green {
  background-color: rgb(28, 214, 28);
  font-size: 24px;
  font-weight: bold;
}