#black {background-color: black; 
             color: white;}
#yellow {background-color: yellow; 
              color: black;}
.btn {
  font-size: 24px;
  font-family: Helvetica, 'Times New Roman', serif;